.board {
    display: flex;
    /* width: 60%; */
    margin: 0;
    margin: auto;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#bingo {
    border: 2px red dotted;
    width: 100%;
    height: 200px;
    margin-top: 40px;
}

.red {
    background-color: red;
}
